ul {
    list-style-type: none;
}

.toggle {
    /* content: "\25B6";
    color: blue;
    display: inline-block; */
    margin-right: 6px;
}
/* 
.toggle-down::before {
    transform: rotate(90deg);
} */

li {
    margin: 10px 0;
}

li ul {
    margin-left: 20px;
    display: none;
}

/* li.open ul {
    display: block;
} */

li .toggle {
    cursor: pointer;
    color: blue;
}

input[type="file"] {
    display: none;
}

#header {
    position:sticky;
	  top:0;
}

.info-row{
    position:sticky;
	  top: 80px;;
}